/*CSS reset*/

*{
	margin:	0;
	padding: 0;
	box-sizing: border-box;

}

/*targets the html element body*/
body	{
	background-image: url(../images/bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #f2f2f2; /*off-white*/
	font-family: 'Roboto', sans-serif;

}
/*end of body*/
/*targets html element h1*/
h1	{
	font-size: 35px;
	background-color: #333; /*off black*/
	text-transform: uppercase;
	margin: 5px;
	border-radius: 	10px;
	letter-spacing: 1px;
	font-family: 'Cutive Mono', monospace;
}

/*start h2 element*/
h2	{
	color: #052054;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 100px;
	
	background-color: #9999;
	
	margin:  5px;
	border-radius: 	10px;
}

/*target class html class attribute**/

.bio{
	padding: 50px;
	margin: 5px;
	border-radius: 	10px;
	font-size: 18px;
	line-height: 1.75;
	/*background-color: #333;*/
	/*opacity: 0.5;*/
	background-color: rgba(51,51,51,0.2);

}
/*targets html id attribute me*/
#me{
	height: 200px;
	width:	200px;
	border-radius: 	50%;
	border-width: 5px;
	border-color: #9999;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 25px; 

}
/*end of me*/
/*targets class container*/
.container{
	width: 500px;
	margin: 0 auto;
	text-align: center;

}
